/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

.ko {
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  --text-color: #222222;
  --background-color:#ededed;
  --accent-color: #578b7b;
  --sub-color:#b5d681;
}